*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
.formlogin{
    background-color: rgb(234, 241, 239);
    color: #fff;
    padding: 40px;
    border: 1px solid #000;
    box-shadow: 3px 3px #000;
    border-radius: 20px;
}
/*h4{
    
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}*/

h2, h4{
    font-size: 50px;
    background: -webkit-linear-gradient(#90EE90, #2E8B57);
    -webkit-background-clip: text;
    -webkit-text-fill-adjust: transparent;
    filter: drop-shadow(2px 2px #333)
}
h4{
    font-size: 30px;
    background: -webkit-linear-gradient(#90EE90, #2E8B57);
    -webkit-background-clip: text;
    -webkit-text-fill-adjust: transparent;
    filter: drop-shadow(2px 2px #333)
}
/*h1{
    font-size: 50px;
    background: -webkit-linear-gradient(#90EE90, #2E8B57);
    -webkit-background-clip: text;
    -webkit-text-fill-adjust: transparent;
    filter: drop-shadow(2px 2px #333)
}*/
#contratos{
    background-color:white;
    color:gray;
    border-radius:0%;
    width:200px;
    margin:auto;
    border-color: black;
    height: 35px;
}
#contratos:hover{
    border-color: rgb(127, 161, 255);
}
#imagem-contrato{
    color:black;
    margin:auto;
    position:absolute;
    margin-left: -137px;
    margin-top: 3px;
}
/*******************************************************************************************/
  /* ini: Preloader */
 
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: -webkit-linear-gradient(#90EE90, #2E8B57);
    /*background-color:#F27620; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */